<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
</head>
<body>
    <h1>Chatbot</h1>
    <div id="chat-area">
    </div>
    <form>
        <input type="text" id="user-input">
        <button type="submit">Send</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $('form').on('submit', function(e) {
        e.preventDefault();

        var userMessage = $('#user-input').val();

        $.ajax({
    url: '/chat',
    data: { 'message': userMessage },
    type: 'POST',
    success: function(response) {
        $('#chat-area').append('<p>User: ' + userMessage + '</p>');
        $('#chat-area').append('<p>Chatbot: ' + response + '</p>');
    },
    error: function(error) {
        console.log(error);
    }
});

        $('#user-input').val('');
    });
    </script>
</body>
</html>
